{% extends 'base.html.twig' %}

{% block title %}UserPhoto index{% endblock %}

{% block body %}
    <h1>UserPhoto index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Image</th>
                <th>UpdatedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user_photo in user_photos %}
            <tr>
                <td>{{ user_photo.id }}</td>
                <td>{{ user_photo.image }}</td>
                <td>{{ user_photo.updatedAt ? user_photo.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('user_photo_show', {'id': user_photo.id}) }}">show</a>
                    <a href="{{ path('user_photo_edit', {'id': user_photo.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('user_photo_new') }}">Create new</a>
{% endblock %}
