<div class="wrapper">


<nav  class="theme main-header navbar navbar-expand nnavbar-white navbar-dark " style="background-color: rgba(0,0,0,0.5)">
    <!-- Left navbar links -->
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a style="background-color: rgba(0,0,0,0.2)" href="{{ path('home') }}" class="nav-link {{ home is defined? 'active' : ''}} ">
                <i class="fas fa-home"></i>
                Home</a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a style="background-color: rgba(0,0,0,0.2)" href="{{ path('article_index') }}" class="nav-link {{ article_index is defined? 'active' : ''}} ">
                <i class="fas "></i>
                Publications </a>
        </li>
{#        <li class="nav-item d-none d-sm-inline-block">#}
{#            <a href="#" class="nav-link">Contact</a>#}
{#        </li>#}
    </ul>

    <!-- Right navbar links -->
    <ul class="navbar-nav ml-auto">
        <!-- Navbar Search -->


        <!-- Messages Dropdown Menu -->
        <li class="nav-item dropdown">
            <a class="nav-link" data-toggle="dropdown" href="#">
                <i class="far fa-comments"></i>
                <span class="badge badge-danger navbar-badge">{{ app.user.allNewMessage(app.user.id)['messages'] | length }}</span>
            </a>
            <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right " >
                {% for user in app.user.allNewMessage(app.user.id)['users']   %}
                <a href="{{ path('message_new', {'name': user.name}) }}" class="dropdown-item ">
                    <!-- Message Start -->

                    <div class="media">
                        <img src="/uploads/images/users/profil{{user.photo ? asset(user.photo) : '/avatar.png' }}" alt="User Avatar" class="img-size-50 mr-3 img-circle">
                        <div class="media-body">
                            <h3 class="dropdown-item-title">
                                {{ user.name }}
                                <span class="float-right text-sm text-danger"><i class="fas fa-mail-bulk"></i>{{ user.NewMessage(app.user.id) | length }}</span>
                            </h3>
                            <p class="text-sm">{{ user.NewMessage(app.user.id)[user.NewMessage(app.user.id)|length -1].message }}</p>
                            <p class="text-sm text-muted "><i class="far fa-clock mr-1"></i> {{ user.NewMessage(app.user.id)[user.NewMessage(app.user.id) | length -1].sendAt |date('Y-m-d H:i:s')   }}</p>

                        </div>
                    </div>
                    <!-- Message End -->

                </a>

                        <div class="dropdown-divider"></div>
                {% endfor %}
                <div class="dropdown-divider"></div>
                <a href="{{ path('all_message_index') }}" class="dropdown-item dropdown-footer">See All Messages</a>
            </div>
        </li>
        <!-- Notifications Dropdown Menu -->
{#        <li class="nav-item dropdown">#}
{#            <a class="nav-link" data-toggle="dropdown" href="#">#}
{#                <i class="far fa-bell"></i>#}
{#                <span class="badge badge-warning navbar-badge">15</span>#}
{#            </a>#}
{#            <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">#}
{#                <span class="dropdown-item dropdown-header">15 Notifications</span>#}
{#                <div class="dropdown-divider"></div>#}
{#                <a href="#" class="dropdown-item">#}
{#                    <i class="fas fa-envelope mr-2"></i> 4 new messages#}
{#                    <span class="float-right text-muted text-sm">3 mins</span>#}
{#                </a>#}
{#                <div class="dropdown-divider"></div>#}
{#                <a href="#" class="dropdown-item">#}
{#                    <i class="fas fa-users mr-2"></i> 8 friend requests#}
{#                    <span class="float-right text-muted text-sm">12 hours</span>#}
{#                </a>#}
{#                <div class="dropdown-divider"></div>#}
{#                <a href="#" class="dropdown-item">#}
{#                    <i class="fas fa-file mr-2"></i> 3 new reports#}
{#                    <span class="float-right text-muted text-sm">2 days</span>#}
{#                </a>#}
{#                <div class="dropdown-divider"></div>#}
{#                <a href="#" class="dropdown-item dropdown-footer">See All Notifications</a>#}
{#            </div>#}
{#        </li>#}
        <li class="nav-item">
            <a class="nav-link" data-widget="fullscreen" href="#" role="button">
                <i class="fas fa-expand-arrows-alt"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-widget="control-sidebar" data-slide="true" href="#" role="button">
                <i class="fas fa-th-large"></i>
            </a>
        </li>
    </ul>
</nav>
</div>