{% extends 'base.html.twig' %}

{% block title %}Article index{% endblock %}

{% block body %}


    <div class="" style="">
<div class="nav ">
    {% for categorie in categories %}
        <li class="nav-item p-2 m-auto"><a href="{{ path('article_index',{'id':categorie.id}) }}" class="btn btn-outline-dark" >{{ categorie.label }}</a></li>
    {% endfor %}
</div>
        {% for article in articles %}
{#            {{ dump(article.publishedAt) }}#}
            {% if article.image %}
                <div>
                    <div class="user-block" style="display:contents">
                        <img class="img-circle img-bordered-sm" src="/uploads/images/users/profil{{ article.userCreated.photo ? asset(article.userCreated.photo) : '/avatar.png' }}" alt="User Image">
                        <span class="username">
                          <a href="{{ path('user_show', {'name': article.userCreated.name })}}">{{ article.userCreated.name }}</a>
                          <a href="#" class="float-right badge theme ">{{ article.categorie.label }}</a>
                        </span>
                        <span class="description"> publier le {{ article.publishedAt | date('Y-m-d H:i:s')  }}</span>
                    </div>
                    <br>
            <div class=" mb-6">

                <div class="row gx-4 gx-lg-5 align-items-center ">
                    <div class="col-lg-5"><img class="img-fluid rounded mb-4 mb-lg-0" src="{{ vich_uploader_asset(article) }}" alt="..."></div>
                    <div class="col-lg-7">
                        <h5 style="font: bold; color: {{ app.user.style.navColor }}" >{{ article.titre }}</h5>
                        <p>{{ article.description }}</p>
{#                        <a class="btn btn-primary" href="#!">Call to Action!</a>#}
                    </div>
                </div>
                <div class="col-12 pt-3">
                <div class="description">
                    {% include('article/_foot_article_html.twig') %}

                </div>
                    <a href="{{ path('article_show',{'slug': article.slug }) }}" class="btn btn-outline-info">Plus ...</a>
                    <hr>
                </div>
            </div>
            </div>
            {% else %}
            <div class="post clearfix p-2">
                <div class="user-block">
                    <img class="img-circle img-bordered-sm" src="/uploads/images/users/profil{{ article.userCreated.photo ? asset(article.userCreated.photo) : '/avatar.png' }}" alt="User Image">
                    <span class="username">
                          <a href="{{ path('user_show', {'name': article.userCreated.name })}}">{{ article.userCreated.name }}</a>
                          <a href="#" class="float-right badge theme ">{{ article.categorie.label }}</a>
                        </span>
                    <span class="description"> publier le {{ article.publishedAt | date('Y-m-d H:i:s')  }}</span>
                </div>
                <!-- /.user-block -->
                <h5 style="font: bold; color: {{ app.user.style.navColor }}" >{{ article.titre }}</h5>
                <p>
            {{ article.description }}
                </p>
                {% include('article/_foot_article_html.twig') %}
                <a href="{{ path('article_show',{'slug': article.slug }) }}" class="btn btn-outline-info">Plus ...</a>

            </div>




            {% endif %}
        {% endfor %}
<div>
    {{ knp_pagination_render(articles,'article/index_pagination.html.twig') }}
</div>
    </div>

{#    <a href="{{ path('article_new') }}">Create new</a>#}
{% endblock %}
