{% extends 'base.html.twig' %}

{% block title %}Article index{% endblock %}

{% block body %}

    <div class="" style="">

        <nav class="navbar navbar-expand navbar-white">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">Filtre</a>{{categorieActive? categorieActive.label ~ " : "~ articles | length }}
                    <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Type de publication
                            <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            {% for categorie in categories %}
                                <li class="p-2 {{ type == categorie.id ? 'bg-blue':'' }}"><a href="{{ path('article_index',{'id':categorie.id}) }}" class="nav-link " >{{ categorie.label }}</a></li>
                            {% endfor %}
                        </ul>
                    </li>
                    </ul>
                </div>

            </div>
        </nav>
        {% for article in articles %}
{#            {{ dump(article.publishedAt) }}#}
            {% if article.image %}
                <div>
                    <div class="user-block" style="display:contents">
                        <img class="img-circle img-bordered-sm" src="{{ article.userCreated.photo }}" alt="User Image">
                        <span class="username">
                          <a href="{{ path('user_show', {'name': article.userCreated.name })}}">{{ article.userCreated.name }}</a>
                          <a href="#" class="float-right badge theme ">{{ article.categorie.label }}</a>
                        </span>
                        <span class="description"> publier le {{ article.publishedAt | date('Y-m-d H:i:s')  }}</span>
                    </div>
                    <br>
            <div class=" mb-6">

                <div class="row gx-4 gx-lg-5 align-items-left ">
                    <div class="col " style="display: contents"><img style="max-width: 500px" class="img-fluid rounded mb-4 mb-lg-0" src="{{ vich_uploader_asset(article) }}" alt="..."></div>
                    <div class="col-lg">
                        <h5 style="font: bold; color: {{ app.user.style.navColor }}" >{{ article.titre }}</h5>
                        <p class="pl-1" >{{ article.description }}</p>
{#                        <a class="btn btn-primary" href="#!">Call to Action!</a>#}
                    </div>
                </div>
                <div class="col-12 pt-3">
                <div class="description">
                    {% include('article/_foot_article_html.twig') %}

                </div>
                    <a href="{{ path('article_show',{'slug': article.slug }) }}" class="btn btn-outline-info">Plus ...</a>
                    <hr>
                </div>
            </div>
            </div>
            {% else %}
            <div class="post clearfix p-2">
                <div class="user-block">
                    <img class="img-circle img-bordered-sm" src="{{ article.userCreated.photo }}" alt="User Image">
                    <span class="username">
                          <a href="{{ path('user_show', {'name': article.userCreated.name })}}">{{ article.userCreated.name }}</a>
                          <a href="#" class="float-right badge theme ">{{ article.categorie.label }}</a>
                        </span>
                    <span class="description"> publier le {{ article.publishedAt | date('Y-m-d H:i:s')  }}</span>
                </div>
                <!-- /.user-block -->
                <h5 style="font: bold; color: {{ app.user.style.navColor }}" >{{ article.titre }}</h5>
                <p>
            {{ article.description }}
                </p>
                {% include('article/_foot_article_html.twig') %}
                <a href="{{ path('article_show',{'slug': article.slug }) }}" class="btn btn-outline-info">Plus ...</a>

            </div>




            {% endif %}
        {% endfor %}
<div>
    {{ knp_pagination_render(articles,'article/index_pagination.html.twig') }}
</div>
    </div>

{#    <a href="{{ path('article_new') }}">Create new</a>#}
{% endblock %}
