{% extends 'base_login.html.twig' %}

{% block title %}New User{% endblock %}

{% block body %}
    <div style="color: white">

    <div class="register-box"  style="margin: auto;margin-top: 20px;">
        <div class="register-logo">
            <a>My Site</a>
        </div>
        <div class="card" style="background-color: rgba(0,0,0,0.3)">
            <div class="card-body ">
                <p class="login-box-msg">Register a new membership</p>

{#                {{ include('user/_form.html.twig') }}#}
                {{ form_start(form) }}
                <div class="input-group mb-3">
                    {{ form_widget(form.name) }}
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-user"></span>
                        </div>
                    </div>
                </div>

                <div class="input-group mb-3">
                    {{ form_widget(form.email) }}
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-envelope"></span>
                        </div>
                    </div>
                </div>
                <div class="input-group mb-3">
                    {{ form_widget(form.password) }}
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-lock"></span>
                        </div>
                    </div>
                </div>
                <div class="input-group mb-3">
                    {{ form_widget(form.confirm_password) }}
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-lock"></span>
                        </div>
                    </div>
                </div>


                {{ form_widget(form) }}
                <button class="btn btn-link">{{ button_label|default('Register') }}</button>
                {{ form_end(form) }}

                {#                <a href="{{ path('user_index') }}">back to list</a>#}
                <a href="{{ path('app_login') }}" class="text-center">I already have a membership</a>
            </div>

        </div>
    </div>


    </div>
{% endblock %}
